.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    &__logo{
        width: 8rem;
        @media all and (min-width:768px){
            width: 15rem;
        }
    }
    &__phrase{
        font-size: 1rem;
        @media all and (min-width:768px){
            font-size: 1.8rem;
        }
    }
    &__contact{
        font-size: 3rem;
        display: flex;
        gap: 1rem;
    }
    &__by{
        font-size: 1rem;
        @media all and (min-width:768px){
            font-size: 1.2rem;
        }
        &--span{
            color: #cc39b4;
            font-weight: 600;
        }
    }
}