.mainIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 2rem;
    &__img{
        width: 70%;
    }
    &__data{

        &--h1{
            font-size: 4.5rem;
            margin-top: 1rem;
        }
        &--h2{
            font-size: 3.5rem;
            margin-top: 1rem;
            color: #cc39b4;
        }
        &--desc{
            font-size: 18px;
            font-weight: 500;
            line-height: 2;
            margin: 3rem;
            &-span{
                color: #cc39b4;
            }
        }
        &--contactInfo{
                font-size: 3.5rem;
                display:flex;
                gap: 3.5rem;
                align-items: center;
                justify-content: center;
                margin-top: 2.5rem;
            }

    }
    @media all and (min-width: 768px){
        flex-direction: row-reverse;
    }
}