.mainIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 2rem;
    &__img{
        width: 70%;
        right: 0;
        bottom: 0;
        animation-duration: 1.5s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-name: animarImagen;
        z-index: 10;
        @keyframes animarImagen {
            0% {
              opacity: 0;
              transform: translateX(30rem);
            }
            50% {
              opacity: 0;
            }
            100% {
              opacity: 1;
              transform: translateX(0);
            }
        }
       
    }
    &__data{

        &--h1{
            font-size: 4.5rem;
            margin-top: 1rem;
        }
        &--h2{
            font-size: 3.5rem;
            margin-top: 1rem;
            color: #cc39b4;
        }
        &--desc{
            font-size: 18px;
            font-weight: 500;
            line-height: 2;
            margin: 3rem;
            &-span{
                color: #cc39b4;
            }
        }
        &--contactInfo{
                font-size: 3.5rem;
                display:flex;
                gap: 3.5rem;
                align-items: center;
                justify-content: center;
                margin-top: 2.5rem;
            }

    }
    @media all and (min-width: 768px){
        flex-direction: row-reverse;
    }
}