.mainAboutMe{
    margin: 6rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__h2{
        font-size: 2.8rem;
        margin: 3rem;
    }
    &__desc{
        font-size: 1.8rem;
        line-height: 2;
    }
    &__deco{
        color: #c963b8;
        width: 30rem;
        margin: 3rem;
        border-width: 3px;
        border-style: solid;
        border-radius: 3px;
        text-align: center;
    }
}