.mainAboutMe{
    margin: 3rem;
    font-weight: 500;
    &__h2{
        font-size: 2.8rem;
        margin: 3rem;
    }
    &__desc{
        font-size: 1.8rem;
        line-height: 2;
    }
}