.mainProjects{
    max-width: 100%;
    margin-top: 8rem;
    &__h2{
        font-size: 2.8rem;
        margin-top: 3rem;
    }
    &__h3{
        font-size: 2rem;
        margin-bottom: 6rem;
        margin-top: 2rem;
        font-weight: 600;
        &--span {
           color: #cc39b4;
        }
    }
    &__art{
        width: 35rem;
        
        &--container{
            position: relative;
            width: 35rem;
            border-radius: 15px;
            display:flex;
            flex-wrap: wrap;
               &-img{
                width: 35rem;
                border-radius: 15px; 
                
            }
            &-div{
                width: 35rem;
                height: 20.8rem;
                padding-top: 1rem;
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                pointer-events: none;
                border-radius: 15px;
                gap: 1rem;
                background-color: #6f3667d8;
                visibility: hidden;
            }
            &:hover &-div {
                visibility: visible; 
              }
        }
        &--titleGit{
            display: flex;
            align-items: center;
            justify-content: center;
            :hover{
                color:#cc39b4
            }
            &-title{
                font-size: 1.8rem;
                padding: 1rem;
            }
            &-git{
                font-size: 2.5rem;
            }
        }
      
    }
}

.art__div{
    
   &--h4{
    font-size: 3rem;
    font-weight: 500;
    color:#fb5af3;
   } 
   &--p{
    font-size: 1.4rem;
    color:white;
    }
   &--ul{
        display: flex;
        &-img{
           width: 4rem; 
        }
   }
}

.box{
    display:flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.link-code{
    width: 3rem;
}
.a{
    :hover{
        color:#cc39b4 
    }
}
