:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(43, 38, 38, 0.87);
  background-color: #eadde6;
  scroll-behavior: smooth;
}

a {
  font-weight: 600;
  color:rgba(43, 38, 38, 0.87);
  text-decoration: inherit;
}
a:hover {
  color: #dd54d6;
  text-decoration: none;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  cursor: url(./images/cursor.png);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 1rem 2rem;
  margin: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: inherit;
  color:#0B0508;
  background-color: #E26ADB;
  cursor: pointer;
}
button:hover {
  border: 2px inset #f8c4d7;
  background-color: #8B327F;
  color: #ffffff;
}
ul{
  list-style: none;
}
